*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.kotlin/errors/errors-1729864610947.log
/.kotlin/errors/errors-1729864681311.log
/.kotlin/errors/errors-1729870923705.log
/.kotlin/errors/errors-1730054932292.log
